# Public
.DS_Store
/.eslintrc.js
/.eslintignore
/tsconfig.json
/tslint.json
/tsconfig.tsbuildinfo
/package.json
/package-lock.json
/webpack.config.js
/.idea

# File
main.js
main.jsx
main.ts
main.tsx

# Folder
/_KilroyLYK
/_KilroyProject

# Other
*.mp3
*.mp4
*.zip
