*.js linguist-language=ts
*.jsx linguist-language=ts
*.ts linguist-language=ts
*.tsx linguist-language=ts

*.json linguist-language=ts

*.css linguist-language=ts
*.less linguist-language=ts

*.html linguist-language=ts

*.md linguist-language=ts

*.jpg linguist-language=ts
*.jpeg linguist-language=ts
*.png linguist-language=ts
*.svg linguist-language=ts

*.mp3 linguist-language=ts
*.mp4 linguist-language=ts
