@import '../../../Resource/css/_global';

@popup_z: 50;
@popup_opacity: 0.75;
@popup_time: 0.6s;

.popup {
  display: none;
  .position(fixed);
  z-index: @popup_z;
  opacity: 0;
  height: 100%;
  background: fade(@color_2, 70);
  .transition(all @popup_time);
  cursor: pointer;

  &.popup_top,
  &.popup_bottom,
  &.popup_left,
  &.popup_right {
    &.active {
      .box_popup {
        .center();
      }
    }

    .box_popup {
      .transition(transform @popup_time);
    }
  }

  &.popup_top {
    .box_popup {
      .transform(translate(-50%, calc(-50% - 200 * @px)));
    }
  }

  &.popup_bottom {
    .box_popup {
      .transform(translate(-50%, calc(-50% + 200 * @px)));
    }
  }

  &.popup_left {
    .box_popup {
      .transform(translate(calc(-50% - 200 * @px), -50%));
    }
  }

  &.popup_right {
    .box_popup {
      .transform(translate(calc(-50% + 200 * @px), -50%));
    }
  }

  &.show {
    display: block;
  }

  &.active {
    opacity: 1;
  }

  .box_popup {
    .center();
    width: 720*@px;
    background: fade(@color_1, 70);
    .borderBox();
    cursor: auto;

    .popup_close {
      .position(bottom, -90*@px);
      z-index: 1;
      width: 50*@px;
      height: 50*@px;
      margin: 0 auto;
      .borderBox();
      border: 1px solid fade(@color_1, 30);
      border-radius: 50%;
      background: none;
      .transition(opacity @popup_time);
      cursor: pointer;

      &:hover {
        .filter(brightness(130%));
      }

      i {
        display: block;
        .position();
        width: 10*@px;
        height: 10*@px;
        margin: auto;

        &:before,
        &:after {
          content: '';
          display: block;
          .position();
          width: 1px;
          height: 100%;
          margin: auto;
          background: fade(@color_1, 30);
        }

        &:before {
          .transform(rotate(45deg));
        }

        &:after {
          .transform(rotate(-45deg));
        }
      }
    }

    .popup_content {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      margin: auto;
      .borderBox();
    }
  }
}

.popup_direction {
  z-index: 1000;
  .transition(all 0.3s);

  &.popup_vertical {
    .box_popup .popup_content i {
      .transform(rotate(-90deg) scale(0.5));
      .animation('a_vertical' 1s 1.5s ease-out alternate infinite forwards);
    }
  }

  &.popup_horizontal {
    .box_popup .popup_content i {
      .transform(rotate(0deg) scale(0.5));
      .animation('a_vertical' 1s 1.5s ease-out alternate infinite forwards);
    }
  }

  .box_popup {
    width: 100%;
    height: 100%;
    @style: fade(#303136, 100), fade(black, 100);
    .gradientRadial(@style);

    .popup_content {
      i {
        display: block;
        .position();
        margin: auto;
        .bg('@{src_img}direction.png', 513*@px, 429*@px, true);
        pointer-events: none;
      }
    }
  }
}

.popup_toast {
  z-index: @popup_z+10;
  background: fade(@color_2, 0);
  pointer-events: none;

  .box_popup {
    width: 350*@px;
    padding: 15*@px 25*@px;
    background: fade(@color_2, 75);
    border-radius: 8*@px;

    .popup_content {
      .content {
        position: relative;
        .font(center, 34*@px, @color_1, 30*@px, true);
        .wordBreak();
      }
    }
  }
}

// 垂直动画
.creatAnimation(a_vertical, .a_vertical());
.a_vertical() {
  from {
    .transform(rotate(-90deg) scale(0.5));
  }
  to {
    .transform(rotate(0deg) scale(0.5));
  }
}

// 水平动画
.creatAnimation(a_horizontal, .a_horizontal());
.a_horizontal() {
  from {
    .transform(rotate(0deg) scale(0.5));
  }
  to {
    .transform(rotate(-90deg) scale(0.5));
  }
}
